
.header{
	height: 54px;
	background-color: #fff;
	overflow: hidden;
	
}
.header__bar-btn i{
	font-size: 20px;
}
.header__navbar{
	display: flex;
	justify-content: space-between;
}

.header__navbar-list{
	list-style: none;
	padding-left: 0;
}

.header__navbar-item{	
	display: inline-block;
	font-size: 14px;
	position: relative;	
}

.header__navbar-item input{
	height: 32px;
	line-height: 32px;
	padding: 0 30px 0 14px;
    margin: 0 7.5px;
    border-radius: 16px;
    border: 1px solid #e5e5e5;
    width: 160px;
    outline: none;
}
/* .header__navbar-item button i{
	vertical-align: middle;
    height: 32px;
    line-height: 32px;
    width: 30px;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    border: none;
} */
.header__navbar-item button{
	border: none;
	background: none;
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 15px;


}

.logochinh img{
	 height: 49px;
    line-height: 54px;
    margin-top: -8px;
}
.internatinal a{
	font: 14px arial;
	text-decoration: none;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: #757575;
	padding: 0 10px;
	height: 32px;
	line-height: 30px;
	display: inline-block;
	margin: 0 7.5px;
	border-right: 1px solid #e5e5e5;
}
.internatinal a:hover{
    background-color: #e5e5e5;
    color: black;
}

.internatinal i{
	font-size: 16px;
	margin: 0 6px;
}

.dangnhap a{
	font:400 15px arial; 
	text-decoration: none;
	transition: opacity 0.2s ease;
	color: black;
}

.dangnhap a:hover{
	opacity: 0.5;
}

.dangnhap i{
	fill: #bdbdbd;
	margin-right: 5px;
	margin-left: 7.5px;
	margin-top: -2px;
	font-size: 16px;
}
.gachdoc::after{
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #e5e5e5;
    height: 25px;
    right: -9px;
    top: 13%;
}
.timkiem{
	margin-left: 9px;
}
/*------------ hết header----------*/


/*------------------Menu chính-----------------*/

.nav__main{
	height: 50px;
	width: 100%;
	float: left;
	clear: both;
	box-shadow:0 0px 2px rgb(0 0 0 / 20%);	
	position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: orange;
    z-index: 9;
}


.nav__main-list{
	display: flex;
	list-style: none;
	justify-content: center;
}

.nav__main-item-danhsach{
	position: absolute;
	list-style: none;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	min-width: 160px;
	display: none;
}

.fa-home{
	border: 1px solid #ccc;
	padding: 3.5px 3.5px;
	font-size: 14px;
	border-radius: 50%;
	background-color: black;
	margin-top: 13px;
}

.nav__main-item > a{
	text-decoration: none;
	color: #000;
	padding: 0 15px;
	font-weight: 600;
	color: white;
	font-size: 14px;
	display: inline-block;
	line-height: 50px;
	margin-top: -9px;
}

.nav__main-item li{
	position: relative;
}

.nav__main-item-danhsach-item a{
	font-size: 15px;
	text-decoration: none;
	padding-left: -10px;
	line-height: 40px;
	display: inline-block;
	margin-left: -16px;
	color: black;
}
.nav__main-item-danhsach-item a:hover{
	text-decoration: underline;
}

.nav__main-item > a:hover{
	color: orangered;
}


.nav__main-list li:hover .nav__main-item-danhsach{
	display: block;
}


/*-----------------END MENU MAIN----------------*/


.container{
	width: 100%;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 80px;
}

.container__flexbox{
	display: flex;
	margin-top: 75px;
	height: 580px;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.flexbox__hightlight{
	width: 70%;
	background-color: white;
	min-height: 560px;
}

.quangcao-hightlight{
	width: 30%;
	background-color: white;
	min-height: 560px;
}

.flexbox__hightlight-item1{
	width: 100%;
	height: 312px;
	display: flex;
}

.flexbox__hightlight-item2{
	width: 100%;
	height: 189px;
	display: flex;
	margin-top: 20px;
}

.hightlight-item1-img a img{
	width:520px;
	height: 312px;
}

.hightlight-item1-content{
	width: 267px;
	height: 312px;
	background-color: #f7f7f7;

}

.hightlight-item1-content a h3{
	font-family: "Merriweather",serif;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
	color: #000;
	margin-left: 25px;
	line-height: 160%;
}
.hightlight-item1-content a{
	text-decoration: none;
}

.hightlight-item1-content p{
    margin-left: 25px;
    font-size: 14px;
	line-height:140%;
	margin-right: 25px;}

.hightlight-item1-content a h3:hover{
	color: orangered;
}

.hightlight-item2-content{
	flex: 1;
	padding: 0 20px;
	position: relative;
}

.hightlight-item2-content a{
	font-size: 16px;
	font-weight: 700;
	line-height: 160%;
	color: #000;
	text-decoration: none;
	font-family: "Merriweather",serif;
}

.hightlight-item2-content p{
	font-size: 14px;
    line-height: 140%;
}

.hightlight-item2-content a:hover{
	color: orangered;
}

.gachdoc2::after{
	content: "";
    display: block;
    position: absolute;
    border-right: 2px solid #f7f7f7;
    height: 205px;
    right: 5px;
    top: 4%;
}
/*-------------------hết flex box-----------*/

.tintrongngay{
	display: flex;
	width: 100%;
	height: 3170px;
	border-bottom: 1px solid #ccc;
}

.tintonghop{
	width: 65%;
	height: 100%;
	display: column;
}

.tinmoinhat{
	width: 35%;
	height: 100%;
}

.tintonghop-list{
	width: 100%;
	height: 165px;
    display: flex;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.tintonghop-img img{
	width: 265px;
	height: auto;
}
.tintonghop-item h3{
	font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    font-family: SFD-Bold;
    color: #2d2d2d;
    margin: 0 0 6px 0;
    margin-left: 15px;
}
.tintonghop-item p{
	font-size: 14px;
    line-height: 140%;
    margin-left: 15px;
}
.tintonghop-item a{
	text-decoration: none;
}
.tintonghop-item a h3:hover{
	color: orangered;
}

/*------------------------endtintổnghợp------*/
.tinmoinhat-section{
	font-family: SFD-Heavy;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 30px;
    border-left: none;
    position: relative;
    padding-left: 15px;
    color: #2d2d2d;
    text-transform: uppercase;
    text-decoration: none;
}
.tinmoinhat-section h2{
	margin-left: 20px;
}
.gachdoc3::after{
	display: block;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 5px;
    margin-left: 10px;
    background: #fda13e;
    content: '';
}
/* .tinmoinhat-hightlight{
	margin-left: 25px;
}
.tinmoinhat-hightlight img{
	width: 100%;
	height: auto;
}
.tinmoinhat-hightlight a h3{
	font-family: SFD-Bold;
    color: #2d2d2d;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px;
    margin-top: 15px;
}
.tinmoinhat-hightlight a h3:hover{
	color: orangered;
}
.tinmoinhat-hightlight a{
    text-decoration: none;
}
.tinmoinhat-hightlight p{
	font-size: 14px;
	line-height: 20px;
} */
.tinmoinhat-item{
	display: flex;
	margin-left: 25px;
	margin-bottom: 35px;
}

/* .tinmoinhat-item-img img{
	width: 100px;
	height: 56px;
} */
.tinmoinhat-item-section h4{
	font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin: 2px 0 0 12px;
}
.tinmoinhat-item-section a h4:hover{
    color: orangered;
}
.tinmoinhat-item-section a{
    text-decoration: none;
    color:#2d2d2d ;
}
.tinmoinhat-quangcao img{
	margin-left: 25px;
	width: 368px;
	height: auto;
	margin-top: 30px;
	margin-bottom: 10px;
}

/*-----------------------------------------*/

.sao24h{
	width: 100%;
	min-width: 610px;
}
.sao24h-list{
	display: flex;
	width: 100%;
	border-bottom: 1px solid #ccc;
	min-height: 295px;
	margin-top: 20px;
}
.sao24h-item{
    flex: 1;
    margin-right: 30px;
}
.sao24h-item img{
	width: 100%;

}
.sao24h-item h3{
    font-size: 13px;
    margin-top: 12px;
    line-height: 20px;
}
.sao24h-item p{
	font-size: 12px;
    line-height: 18px;
}
.sao24h-item a{
	text-decoration: none;
	color: black;
}
.sao24h-item a:hover{
	color: orangered;
}


/*-----------------------------------------*/
.anhnoibat-list{
	display: flex;
}
.list-img img{
	width: 800px;
	height: 480px;
}
.list-content{
	display: column;
	min-height: 480px;
	color: #bdbdbd;;
}
.content-item{
	flex: 1;
	height: 240px;
	width: 100%;
	padding: 25px;
	background: #17191a;
	cursor: pointer;
}
.content-item a{
	text-decoration: none;
	color: #bdbdbd;
	font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    color: inherit;
    line-height: 160%;
}
.content-item h3{
	font-family: "Merriweather",serif;
	font-size: 23px;
    font-weight: normal;
    line-height: 150%;
    opacity: 1;
}
.content-color{
	background-color: #222;
}




.footer{
	background-color:#0d0d0d;  /*#0d0d0d*/
    border-top: 5px solid #fda13e;
    color: #fff;
    padding: 54px 0 20px;
    height: 340px;
    width: 100%;
    color: white;
}
.footer-container{
	border: 0;
	width: 100%;
	height: 100%;


}
.footer-logo img{
	width: 200px;
	height: auto;
}
.footer-item-img img{
	width: 30px;
	height: 30px;
	margin-right: 20px;
}
.footer-item-img{
	margin-left: 110px;
}
.footer-list{
	display: flex;
	width: 100%;
	margin-top: 20px;
}
.footer-item{
	width: 33.333333333%;
	margin-right: 20px;
}
.footer-item strong{
	font-weight: bold;
	font-size: 15px;
}
.footer-item p{
	font-weight: bold;
	font-size: 14px;
}



/*-----------------------------------*/
.modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	z-index: 10;
	display: none;

}
.modal__overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 11;
	display: none;
}
.modal__body{
	z-index: 12;
	background-color: white;
	margin: auto;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

/*đăng ký*/

.auth-form{
	width: 500px;
	display: none;
}

/*đăng nhập*/

.auth-form-login {
	width: 500px;
	display: none;
}

.auth-form__container{
	padding: 0 32px;
}
.auth-form__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 25px;
	padding: 0 12px;
}
.auth-form__heading{
    font-size: 2.1rem;
    font-weight: 550;
    color: #222;
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: #ee4d2d;
    font-weight: 500;
    cursor: pointer;
}

.auth-form__switch-btn-item {
	 font-size: 1.6rem;
    color: #ee4d2d;
    font-weight: 500;
    cursor: pointer;
}

.auth-form__form{
	margin-top: 16px;
}
.auth-form__input input{
	height: 40px;
	width: 100%;
	margin-top: 16px;
	padding: 0 12px;
	font-size: 1.4rem;
	border: 1px solid #ccc;
	border-radius: 2px;
	outline: none;
}
.auth-form__input input:focus{
    border-color: #777;
}
.auth-form__aside{
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    margin-top: 16px;
    padding-right: 10px;
}
.auth-form__aside a{
	text-decoration: none;
	color: #ee4d2d;
}
.auth-form__control{
	margin-top: 60px;
	display: flex;
	justify-content: flex-end;
}
.btn{
	min-width: 142px;
	height: 34px;
	text-decoration: none;
	border: none;
	border-radius: 2px;
	font-size: 1.4rem;
	outline: none;
	cursor: pointer;
	background-color: white;
}

.btn-back {
	min-width: 142px;
	height: 34px;
	text-decoration: none;
	border: none;
	border-radius: 2px;
	font-size: 1.4rem;
	outline: none;
	cursor: pointer;
	background-color: white;
}

.btn-back:hover{
	background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary{
    color: white;
    background-color: orange;
    margin-left: 8px;
}
.auth-form__social{
	background-color: #f5f5f5;
	padding: 16px 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 22px;
}
.auth-form__social i{
	font-size: 1.8rem;
	line-height: 32px;
}
.form__social-icon {
    text-decoration: none;
    line-height: 32px;
    font-size: 12px;
}
.social-icon-facebook{
	color: white;
	background-color: #3a5a98;
	padding: 0 15px;
}
.auth-form__social span{
	margin: 0 20px;
}
.social-icon-google{
	background-color: white;
	color: black;
	padding: 0 15px;
}
.social-icon-google i{
	color: red;
}