.header__bar-btn {
	display: none;
}
.header__bar-btn i{
	font-size: 20px;
}
.header__bar-overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
	display: none;
	animation: fadein linear 0.2s;
}
.header__bar-mobie{
	position: fixed;
	top: 54px;
	left: 0;
	bottom: 0;
	width: 60%;
	background-color: white;
	z-index: 2;
	float: left;
	transform: translateX(-100%);
	opacity: 0;
	transition: transform linear 0.2s, opacity linear 0.2s;

}
.header__bar-tablet-mobie-list{
	background-color: #e4e2e2;
    margin-top: 10px;
}
.header__bar-mobie-list{
	list-style: none;
	display: inline-block;
	width: 32.33333%;
	padding-top: 10px;
}
.header__bar-mobie-item{
	padding: 7.5px 0;
}
.header__bar-mobie-item a{
	text-decoration: none;
}
.header__bar-mobie-item span a{
    font-size: 16px;
    font-weight: bold;
    color: orange;
}
.header__bar-mobie-item a{
	color: black;
	font-size: 14px;
}
.header__bar-mobie-close > i{
	font-size: 18px;
    color: #666;
    position: absolute;
    top: 0;
    right: 1px;
}
.mobie__input{
	display: none;
}
.mobie__input:checked ~ .header__bar-overlay{
	display: block;
}
.mobie__input:checked ~ .header__bar-mobie{
	transform: translateX(0%);
	opacity: 1;
}
.mobietablet-timkiem{
	margin-top: 30px;
}
.mobietablet-timkiem a{
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	padding: 6px;
	border-radius: 5px;
}
.mobietablet-timkiem input{
	height: 25px;
    margin-left: 20px;
    width: 85%;
    outline: none;
    border: 1px solid #e5e5e5;
    padding-left: 11px;
    border-radius: 5px;
    font-size: 14px;
}


@keyframes fadein {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}



   /*  Mobile & Tablet */
@media (max-width: 63.9375em) {
   
}

/* Mobile: max-width < 739px */
@media only screen and (max-width: 46.1875em) {
    .auth-form{
    width: 100%;
   }
   .auth-form-login{
    width: 100%;
   }
   .auth-form__social span{
    margin: 0;
   }
   .modal__body {
    margin-top: 54px;
   }
   .header{
   	border-bottom: 1px solid #ccc;
   	position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    z-index: 3;
   }
   .logochinh img{
   	margin-left: -7px;
   }
   .nav__main{
   	display: none;
   }
   .header__navbar-item.internatinal{
   	display: none;
   }
   .header__navbar-item.timkiem{
   	display: none;
   }
   .dangnhap-mobie{
   	display: none;
   }
   .header__bar-btn{
    	display: block;
    	margin-top: 15px;
        margin-left: 16px;
    }
    .dangnhap i{
    	margin-top: 8px;
    }
    .tonghop{
    	flex-direction: column;
    	border-bottom: 1px solid #ccc;
    }
    .container{
    	margin-top: 0;
    }
    .tonghop-left{
    	width: 100%;
    	padding-left: 16px;
    	padding-right: 16px;
    }
    .social-share{
    	height: 50px;
    }
    .social-share__item{
    	font-size: 10px;
    	margin-right: 15px;
    }
    .social-share-button{
    	margin-left: 42px;
    	margin-top: 0;
    	margin-bottom: 25px;
    }
    .header__bar-mobie{
    	width: 100%;
    }
    .tonghop-right{
    	width: 100%;
    	height: auto;
    }
    .tinmoinhat-item{
    	margin-left: 0;
    	padding-left: 16px;
    	padding-right: 16px;
    }
    .content-end{
    	flex-direction: column;
    	padding-left: 16px;
    	padding-right: 16px;
    }
    .content-end-right{
    	width: 100%;
    }
    .content-end__list{
    	flex-direction: column;
    	height: auto;
    }
    .content-end__img img{
    	width: 100%;
    	height: auto;
    }
    .content-end-left{
    	width: 100%;
    }
    .content-end-left__img img{
    	width: 100%;
    	margin-left: 0;
    	height: auto;
    }
     .footer{
    	padding: 40px 0 20px;
    	height: auto;
    }
    .footer-container{
    	padding-left: 10px;
        padding-right: 10px;
    }
    .footer-logo{
    	margin-left: 75px;
    }
    .footer-list{
        flex-direction: column;
    }
    .footer-item{
    	width: 100%;
    	margin-right: 0;
    	margin-bottom: 20px;    }
    .footer-item p{
    	line-height: 200%;
    }
}















/* Tablet: min-width >= 740px and max-width < 1023px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .nav__main{
     	display: none;
    }
    .modal__body{
        margin-top: 54px;
    } 
    .header{
    	border-bottom: 1px solid #ccc;
    	position: sticky;
    	top: 0;
    	background-color: white;
    	z-index: 2;
    	box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    }
    .logochinh img{
    	margin-left: 2em;
    }
    .header__bar-btn{
    	display: block;
    	margin-top: 15px;
        margin-left: 16px;
        font-size: 20px;
    }
    .header__navbar-item{
    	margin-right: 0;
    }
    .header__navbar-item.internatinal a{
    	margin: 0;
    }
    .header__navbar-item.timkiem{
    	margin: 0;
    }
    .header__navbar-item.dangnhap{
    	margin-right: -20px;
    }
    .nav__main{
    	display: none;
    }
    .container{
    	margin-top: 0;
    	padding-left: 16px;
        padding-right: 16px;
    }
    .tinmoinhat-item {
    	margin-bottom: 20px;
    }
    .social-share-button{
    	margin-left: 129px;
    }
    .content-end-right{
    	width: 50%;
    }
    .content-end__list{
    	flex-direction: column;
    	height: auto;
    }
    .content-end__item h3{
    	margin: 8px 0 6px 0;
    	margin-left: 0;
    }
    .content-end__item p{
    	margin-left: 0;
    }
    .content-end-left{
    	width: 50%;
    }
    .content-end-left__img img{
    	margin-left: 0;
    	width: 100%;
    	height: auto;
    	padding-left: 30px;
    }
    .footer{
    	min-width: 784px;
    	padding: 40px 0 20px;
    }
    .footer-container{
    	margin-left: 16px;
    }
    .footer-item{
    	width: auto;
    	margin-right: 55px;
    }
    .footer-item-img{
    	display: flex;
    	margin-left: 0;
    }

}